*,
*:after,
*:before {
    box-sizing: inherit;
    -webkit-user-drag: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

html,
body {
    box-sizing: border-box;
    width: $appWidth;
    height: $appHeight;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #000;
}

#credit {
    width: $appWidth;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.875);
    color: #333;
    bottom: 0;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 24px;
    z-index: 200;
    position: absolute;
    padding: 10px;
}

#backgrounds,
#backgrounds>div {
    position: absolute;
    left: 0;
    top: 0;
    width: $appWidth;
    height: $appHeight;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    -webkit-mask-image: linear-gradient(90deg, #000 0%, #000 10%, transparent, #000 90%, #000);
}

.bg-sad {
    background-image: url("../images/bg-sad.jpg");
}

.bg-happy {
    background-image: url("../images/bg-happy.jpg");
}

.bg-angry {
    background-image: url("../images/bg-angry.jpg");
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

#videoel {
    position: absolute;
    top: 0px;
    left: 0px;
}

#camera {
    width: 1440px;
    height: 1080px;
    position: absolute;
    left: 1920px / 2 - 1440px / 2;
}
